pandas
fastapi
uvicorn
aiogram
python-decouple
pytz 
redis
gspread 
oauth2client 
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
python-dotenv
openpyxl
pydrive2
requests
upstash-redis
pillow





